:8080 {
    handle /sandbox/* {
        reverse_proxy http://sandbox:8080
    }

    # Hack to serve static panel resources because they panel serve does not respect --prefix
    handle /static/extensions/panel/* {
        reverse_proxy http://sandbox:8080
    }

    root * /app/dist/
    
    handle {
        try_files {path}.html {path} /
        file_server 
    }
}