rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update: if true
      allow create: if false
    }
    match /projects/{postId} {
      allow read;
      allow create, update: if request.auth != null && request.resource.data.user.id == request.auth.uid && request.resource.data.user.name == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.name
      allow delete: if request.auth != null && resource.data.user.id == request.auth.uid
    }
    match /readonly/{userId} {
    	allow read;
      allow write: if false
    }
    match /feedback/{messageId} {
      allow read: if false
    	allow write;
    }
  }
}