
:5000 {
    handle /5001/* {
        reverse_proxy http://localhost:5001
    }

    handle /5002/* {
        reverse_proxy http://localhost:5002
    }

    handle /5003/* {
        reverse_proxy http://localhost:5003
    }

    handle /5004/* {
        reverse_proxy http://localhost:5004
    }

    handle /5005/* {
        reverse_proxy http://localhost:5005
    }

    handle /5006/* {
        reverse_proxy http://localhost:5006
    }

    handle /5007/* {
        reverse_proxy http://localhost:5007
    }

    handle /5008/* {
        reverse_proxy http://localhost:5008
    }

    handle /5009/* {
        reverse_proxy http://localhost:5009
    }

    handle /5010/* {
        reverse_proxy http://localhost:5010
    }

    handle_path /test {
        respond "test"
    }

    handle /backend/* {
        reverse_proxy http://localhost:8000
    }

    respond "hello world!"

    file_server
}

