
:8080 {

    handle /{$SERVICE_NAME}/lsp/* {
        reverse_proxy http://localhost:8081
    }

    handle /{$SERVICE_NAME}/5001/* {
        reverse_proxy http://localhost:5001
    }

    handle /{$SERVICE_NAME}/5002/* {
        reverse_proxy http://localhost:5002
    }

    handle /{$SERVICE_NAME}/5003/* {
        reverse_proxy http://localhost:5003
    }

    handle /{$SERVICE_NAME}/5004/* {
        reverse_proxy http://localhost:5004
    }

    handle /{$SERVICE_NAME}/5005/* {
        reverse_proxy http://localhost:5005
    }

    handle /{$SERVICE_NAME}/5006/* {
        reverse_proxy http://localhost:5006
    }

    handle /{$SERVICE_NAME}/5007/* {
        reverse_proxy http://localhost:5007
    }

    handle /{$SERVICE_NAME}/5008/* {
        reverse_proxy http://localhost:5008
    }

    handle /{$SERVICE_NAME}/5009/* {
        reverse_proxy http://localhost:5009
    }

    handle /{$SERVICE_NAME}/5010/* {
        reverse_proxy http://localhost:5010
    }

    handle /{$SERVICE_NAME}/static/* {
        uri strip_prefix /{$SERVICE_NAME}
        file_server 
    }

    handle /{$SERVICE_NAME}/* {
        reverse_proxy http://localhost:8000
    }

    respond "hello world!"
}

